@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, to my Address Book</h1>

</div>
<div class="mt-5">
    <p>This appliction is an Address Book that holds contact information. It utilizies CRUD operations to view, add, edit and delete contacts from the list of contacts stored.</p>
    <p>I created this using C#, ASP.NET Core, HTML5, CSS3, BootStrap and I used Postgres as the db. It is written using MVC format.</p>

    <ul class="fa-ul pt-2 checklist">
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap layout</li>
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Classes</li>
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Objects</li>
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ASP.NET Core MVC</li>
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Entity Framework Core (EF Core)</li>
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CRUD Operations</li>
    </ul>

    <div class="fw-bold mt-5">
        <div class="d-flex">
            <div class="row">
                <div class="col"><img src="~/img/c-logo-icon-28402.png" alt="C sharp logo" height="80" width="80" /></div>
                <div class="col"><i class="fab fa-bootstrap fa-4x bsicon"></i></div>
                <div class="col"><i class="fab fa-html5 fa-4x html5icon"></i></div>
                <div class="col"><i class="fab fa-css3-alt fa-4x cssicon"></i></div>
            </div>
        </div>
    </div>
</div>